// Colors
$white: #fff;
$black: #000;
$color-grey-1: #f2f3f5;
$color-grey-2: #6f7f92;
$base-font-color: #797b7e;
$hover-color: #64ecf5;
$button-color: #1cebbc;

// Fonts
$base-font: "Libre Franklin", sans-serif;
$heading-font: "Nunito Sans", sans-serif;