@import "../abstracts/variables";

.navbar-logo {

    a {
        color: $black;
        text-decoration: none;

        &:hover {
            color: $grey;
            transition: 0.3s ease-out;
        }
    }
}