* {
  box-sizing: border-box;
  font-family: "Libre Franklin", sans-serif;
}

.carousel {
  z-index: 0;
}

#main {
  min-height: 800px;
}

.rights-reserved {
  text-align: center;
}

.rights-reserved span {
  color: #797b7e;
}

.page-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px 0;
  margin-bottom: 40px;
  background-color: #f2f3f5;
}

.page-title h2 {
  font-weight: 900;
  font-size: 48px;
}

.single-product {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 24px;
}

.single-product_photo {
  width: 100%;
  height: 350px;
  position: relative;
  overflow: hidden;
}

.single-product_photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: 0.3s ease-out;
}

.single-product_photo img:hover ~ .single-product_actions {
  left: 0px;
  transition: 0.3s ease-out;
}

.single-product_photo-new {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 40px;
  height: 20px;
  background-color: #000;
  color: #fff;
  left: 0;
  top: 5px;
}

.single-product_about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.single-product_about-title {
  margin: 10px 0 5px 0;
  color: #121212;
  transition: 0.3s ease-in;
  overflow: hidden;
  text-decoration: none;
}

.single-product_about-title:after {
  content: "";
  display: block;
  background-color: #64ecf5;
  height: 2px;
  position: relative;
  top: -2px;
  left: -200px;
  transition: 0.3s ease-out;
}

.single-product_about-title:hover {
  color: #64ecf5;
  transition: 0.3s ease-out;
}

.single-product_about-title:hover:after {
  left: 0;
}

.single-product_actions {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  left: -300px;
  transition: 0.3s ease-out;
}

.single-product_actions:hover {
  left: 0;
  transition: 0.3s ease-out;
}

.single-product_actions div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 0 5px;
}

.single-product_actions div p {
  color: #fff;
}

.single-product_actions div button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0px;
  height: 0px;
  background-color: transparent;
  border: 3px solid #fff;
  border-radius: 50%;
  text-decoration: none;
  color: #fff;
  font-size: 28px;
  transition: 0.3s ease-out;
}

.single-product_actions div button:hover {
  color: #64ecf5;
  width: 45px;
  height: 45px;
  transition: 0.3s ease-out;
  border: 3px solid #64ecf5;
}

.authorization {
  margin: 40px 0;
  position: relative;
}

.authorization_title h5 {
  font-size: 32px;
  color: #121212;
  font-weight: 700;
}

.authorization_title p {
  color: #797b7e;
  font-size: 14px;
}

.authorization_form div {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.authorization_form div label {
  color: #797b7e;
  font-size: 14px;
}

.authorization_form div input {
  width: 100%;
  padding: 0.75rem 1rem;
  color: #797b7e;
  box-shadow: none;
  border: solid 1px #cccccc;
  height: 3.125rem;
}

.authorization_form div button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 0.813rem;
  line-height: 1.125;
  padding: 1.04rem 1rem;
  border-radius: 6px;
  background-color: #1cebbc;
  width: 100%;
  margin-top: 40px;
  border: 1px solid #1cebbc;
  color: #fff;
}

.authorization_divider:after {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background-color: #797b7e;
  position: absolute;
  left: 0;
  top: 0;
}

.cart-content_table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 1em;
}

.cart-content_table tr th {
  color: #797b7e;
  font-weight: 400;
}

.cart-content_table tr:first-child {
  position: relative;
}

.cart-content_table tr:first-child:after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background-color: #f2f3f5;
  position: absolute;
  left: 0;
  bottom: 0;
}

.cart-content_table tr td img {
  width: 90px;
}

.cart-content_table tr td span {
  margin-left: 20px;
  font-weight: 700;
}

.cart-content_table-remove button {
  color: #797b7e;
  transition: 0.3s ease-out;
  font-size: 20px;
  background-color: transparent;
  border: none;
}

.cart-content_table-remove button:hover {
  color: red;
  transition: 0.3s ease-in;
}

.lds-facebook-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.lds-facebook-container .lds-facebook {
  width: 80px;
  position: relative;
  height: 80px;
}

.lds-facebook-container .lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #64ecf5;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook-container .lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}

.lds-facebook-container .lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}

.lds-facebook-container .lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}

@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}

.navbar-logo {
  display: flex;
  justify-content: left;
  align-items: center;
  overflow: hidden;
}

.navbar-logo a {
  color: #121212;
  text-decoration: none;
}

.navbar-logo a h4 {
  font-size: 32px;
}

.navbar-logo a h4:after {
  content: "";
  display: block;
  background-color: #64ecf5;
  height: 2px;
  position: relative;
  left: -200px;
  transition: 0.3s ease-out;
}

.navbar-logo a h4:hover:after {
  left: 0px;
  transition: 0.3s ease-in;
}

.navbar-logo a:hover {
  color: #64ecf5;
  transition: 0.3s ease-out;
}

.navbar-menu {
  display: flex;
  justify-content: end;
  align-items: center;
}

.navbar-menu_lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}

.navbar-menu_lists li {
  text-decoration: none;
  list-style: none;
  margin: 0 3px;
}

.navbar-menu_lists li a {
  font-size: 18px;
  padding: 0 5px;
  color: #121212;
}

.navbar-menu_lists li a:hover {
  color: #64ecf5;
  transition: 0.3s ease-out;
}

#navbar {
  padding: 20px 0;
  font-family: "Nunito Sans", sans-serif;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f3f5;
  padding: 10px 0;
}
/*# sourceMappingURL=main.css.map */